<div id="aboutView" xmlns="http://www.w3.org/1999/html">

    <strong>PDX Art Trekker</strong> is a great way to explore Portland, Oregon's public art collection.
    <br/> <br/>

    <strong>Map markers are color coded by discipline:</strong>
    <ul class="listNoBullets">
        <li style="margin-top: 5px"><img src="assets/graphics/map_icons/blue.png" style="height:20px"/> Sculpture</li>
        <li style="margin-top: 5px"><img src="assets/graphics/map_icons/green.png" style="height:20px"/> Painting</li>
        <li style="margin-top: 5px"><img src="assets/graphics/map_icons/orange.png" style="height:20px"/> Photography</li>
        <li style="margin-top: 5px"><img src="assets/graphics/map_icons/pink.png" style="height:20px"/> Mural</li>
        <li style="margin-top: 5px"><img src="assets/graphics/map_icons/purple.png" style="height:20px"/> Architectural Integration </li>
        <li style="margin-top: 5px"><img src="assets/graphics/map_icons/lightblue.png" style="height:20px"/> Ceramic, Fiber</li>
        <li style="margin-top: 5px"><img src="assets/graphics/map_icons/yellow.png" style="height:20px"/> Misc: Drawing, Video, Printmaking, Mosaic, Mixed Media</li>
    </ul>
    <br/>

    <strong>Museums and Galleries:</strong>
    <ul class="listNoBullets">
        <li style="margin-top: 5px"><img src="assets/graphics/map_icons/yellow_MarkerM.png" style="height:20px"/>  Museums</li>
        <li style="margin-top: 5px"><img src="assets/graphics/map_icons/brown_MarkerG.png" style="height:20px"/>  Gallery</li>
    </ul>

    <br/>

    <div class="paragraph subtext">

        All of the public art information displayed within <strong>PDX Art Trekker</strong> is freely available from the
        <a href="javascript:openExternalURL('http://www.civicapps.org/datasets/public-art')">Civic Apps for Greater Portland</a>.
        PDX Art Trekker uses a data set provided by the <a href="javascript:openExternalURL('http://www.racc.org/')">Regional Arts and Culture Council</a>.<br/>
        <br/>

        This data set was last updated on November 9, 2010.  The PDX Art Trekker is not responsible for the quality or accuracy of this data.<br/>
        <br/>

        All of the museum and gallery information is provided via the <a href="javascript:openExternalURL('https://developers.google.com/places/')"> Google Places API</a>.<br/>

    </div>


    <div class="paragraph subtext">

        <strong>PDX Art Trekker</strong> was created using the following software:
        <ul>
            <li style="margin-top: 5px"><a href="javascript:openExternalURL('https://developers.google.com/places/')">Google Places API</a></li>
            <li><a href="javascript:openExternalURL('http://www.google.com/webfonts')">Google Web Fonts - Ubuntu</a></li>
            <li><a href="javascript:openExternalURL('http://www.phonegap.com')">PhoneGap</a></li>
            <li><a href="javascript:openExternalURL('http://www.jquery.com')">jQuery</a></li>
            <li><a href="javascript:openExternalURL('https://github.com/janl/mustache.js')">Mustache.js</a></li>
            <li><a href="javascript:openExternalURL('http://triceam.github.com/app-UI')">app-UI</a></li>
            <li><a href="javascript:openExternalURL('https://parse.com/')">Parse</a></li>
            <li><a href="javascript:openExternalURL('http://twitter.github.com/bootstrap/')">BootStrap</a></li>
            <li><a href="javascript:openExternalURL('http://google-maps-utility-library-v3.googlecode.com/svn/trunk/infobubble/examples/example.html/')">InfoBubble</a></li>
        </ul>

        Map imagery <a href="javascript:openExternalURL('https://developers.google.com/maps/')">Google Maps</a>.

    </div>


    <div class="paragraph subtext">
        <strong>About RACC</strong><br/><br/>

        Over the course of 30 years, the City of Portland and Multnomah County have built a nationally renowned public art collection
        that infuses our government buildings, parks, community centers, libraries, streetscapes and fire stations with art.
        The Regional Arts and Culture Council is the steward of this collection, with over 475 permanently-sited works included in this app.
        There are more than 1800 artworks overall, funded by percent-for-art ordinances, private developers, donations and special project funds.
        Browse the entire collection online: <a href="javascript:openExternalURL('http://www.racc.org/publicart')">RACC Public Art Collection</a>.
        <br/>

    </div>

    <div class="paragraph subtext">
        <strong>Copyrights</strong><br/><br/>

        Copyrights for artworks depicted typically remain with the artists, individual circumstances may vary.
        RACC does not assume responsibility for determining copyrights for any of the work in the City of Portland/Multnomah County public art collection.
        <br/><br/>

        All images provided by RACC are intended to be used as a guide for public art in the Portland Metropolitan Region,
        they are for educational purposes only and are not intended for any other use. For more information, visit
        <a href="javascript:openExternalURL('http://www.racc.org/')">Regional Arts and Culture Council</a>.
        <br/>

    </div>

    <div class="paragraph subtext">
        THIS SOFTWARE IS PROVIDED BY APRIL JOHNSON ''AS IS'' AND ANY EXPRESS OR IMPLIED
        WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND
        FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL APRIL JOHNSON OR
        CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
        CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
        SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON
        ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING
        NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF
        ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
    </div>

</div>