<div id="galleryView">
    <div class="galleryButtonBlock">
        <a id="refreshButton"  class="detailButton" href="javascript:populateFavoritesGallery('refresh')">Refresh</a>
        <a id="clearButton" class="detailButton" href="javascript:populateFavoritesGallery('clear')">Clear All</a>
    </div>

    <div id="galleryWrapper"></div>

    <div class="moreImagesButtonBlock">
        <a id="moreImagesButton" class="detailButton" href="javascript:getMoreImagesInGallery('{{startIndex}}','{{endIndex}}')">More Images...</a>
    </div>

</div>













