<div id="artMapView">

    <div class="mapNavButtonBlock">
        <a id="galleryButton" class="detailButtonNav smallText galleryIcon">Gallery</a>
        <a id="artNearbyButton" class="detailButtonNav  smallText nearbyIcon">Nearby</a>
        <a id="favButton" class="detailButtonNav smallText favIcon">Favorites</a>
        <a id="aboutButton" class="detailButtonNav smallText aboutIcon">About</a>
    </div>

    <div class="mapWrapper">
        <div id="map"></div>
    </div>

    <div id="loadingData" class="loadingMsgBox">
        <p class="detailButton largeText">Loading....</p>
    </div>

    <div id="preloadBackButton" style="display:none"></div>

</div>
